/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.app-brand.demo {
  height: 64px;
}

.dark-style .menu .app-brand.demo {
  height: 64px;
}

.app-brand-logo.demo {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -ms-flexbox;
  display: flex;
  width: 34px;
  height: 24px;
}

.app-brand-logo.demo svg {
  width: 35px;
  height: 24px;
}

.app-brand-text.demo {
  font-size: 1.375rem;
}

.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 64px !important;
}

.layout-navbar-fixed
  .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu)
  .layout-page {
  padding-top: 72px !important;
}

.content-wrapper .navbar {
  z-index: auto;
}

.demo-blocks > * {
  display: block !important;
}

.demo-inline-spacing > * {
  margin: 1rem 0.375rem 0 0 !important;
}

.demo-vertical-spacing > * {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}

.demo-vertical-spacing.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-lg > * {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}

.demo-vertical-spacing-lg.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-xl > * {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}

.demo-vertical-spacing-xl.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.rtl-only {
  display: none !important;
  text-align: left !important;
  direction: ltr !important;
}

[dir="rtl"] .rtl-only {
  display: block !important;
}

/* Dropdown buttons going out of small screens */

@media (max-width: 576px) {
  #dropdown-variation-demo .btn-group .text-truncate {
    width: 254px;
    position: relative;
  }
  #dropdown-variation-demo .btn-group .text-truncate::after {
    position: absolute;
    top: 45%;
    right: 0.65rem;
  }
}

.layout-demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
}

.layout-demo-placeholder img {
  width: 900px;
}

.layout-demo-info {
  text-align: center;
  margin-top: 1rem;
}

.dropdown-menu {
  box-shadow: rgba(38, 34, 49, 0.16) 0px 0.25rem 1.125rem 0px;
}

.dropdown-menu-end {
  --bs-position: end;
}

.dropdown-menu {
  --bs-dropdown-zindex: 1000;
  --bs-dropdown-min-width: 10rem;
  --bs-dropdown-padding-x: 0.5rem;
  --bs-dropdown-padding-y: 0.5rem;
  --bs-dropdown-spacer: 0.125rem;
  --bs-dropdown-font-size: 0.9375rem;
  --darkreader-text--bs-dropdown-color: var(--darkreader-text--bs-body-color);
  --darkreader-bg--bs-dropdown-bg: #181a1b;
  --darkreader-border--bs-dropdown-border-color: #373b3e;
  --bs-dropdown-border-radius: var(--bs-border-radius);
  --darkreader-border--bs-dropdown-border-width: 0;
  --bs-dropdown-inner-border-radius: 0px;
  --darkreader-border--bs-dropdown-divider-bg: #373b3e;
  --bs-dropdown-divider-margin-y: 0.5rem;
  --bs-dropdown-box-shadow: 0 0.25rem 1.125rem 0 rgba(47, 43, 61, 0.16);
  --darkreader-text--bs-dropdown-link-color: #bbb5ac;
  --darkreader-text--bs-dropdown-link-hover-color: #bbb5ac;
  --darkreader-bg--bs-dropdown-link-hover-bg: #1f2223;
  --darkreader-text--bs-dropdown-link-active-color: #7266f0;
  --darkreader-bg--bs-dropdown-link-active-bg: #1f2223;
  --darkreader-text--bs-dropdown-link-disabled-color: #b5aea4;
  --bs-dropdown-item-padding-x: 1rem;
  --bs-dropdown-item-padding-y: 0.543rem;
  --darkreader-text--bs-dropdown-header-color: #b5aea4;
  --bs-dropdown-header-padding-x: 1rem;
  --bs-dropdown-header-padding-y: 0.5rem;
  color: var(--darkreader-text--bs-dropdown-color, #e8e6e3);
  list-style-image: initial;
  background-color: var(--darkreader-bg--bs-dropdown-bg, #181a1b);
  border: var(--darkreader-border--bs-dropdown-border-width) solid
    var(--darkreader-border--bs-dropdown-border-color);
}

.list-group {
  --darkreader-text--bs-list-group-color: #bbb5ac;
  --darkreader-bg--bs-list-group-bg: rgba(0, 0, 0, 0);
  --darkreader-border--bs-list-group-border-color: #373b3e;
  --darkreader-border--bs-list-group-border-width: var(
    --darkreader-border--bs-border-width
  );
  --darkreader-border--bs-list-group-border-radius: 0.375rem;
  --bs-list-group-item-padding-x: 1.25rem;
  --bs-list-group-item-padding-y: 0.5rem;
  --darkreader-text--bs-list-group-action-color: #bbb5ac;
  --darkreader-text--bs-list-group-action-hover-color: #bbb5ac;
  --darkreader-bg--bs-list-group-action-hover-bg: #1f2223;
  --darkreader-text--bs-list-group-action-active-color: #bbb5ac;
  --darkreader-bg--bs-list-group-action-active-bg: #1f2223;
  --darkreader-text--bs-list-group-disabled-color: #b5aea4;
  --darkreader-bg--bs-list-group-disabled-bg: rgba(0, 0, 0, 0);
  --darkreader-text--bs-list-group-active-color: #bbb5ac;
  --darkreader-bg--bs-list-group-active-bg: #1f2223;
  --darkreader-border--bs-list-group-active-border-color: #373b3e;
}

/* * {
  scrollbar-color: #454a4d #202324;
} */

.border-top {
  border-top-color: rgb(55, 59, 62) !important;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus,
.btn-primary.focus {
  color: rgb(232, 230, 227);
  background-color: rgb(43, 33, 138);
  border-color: rgb(40, 31, 131);
}

svg.ti.ti-x {
  color: rgb(187, 181, 172);
}

.menu-item {
  transition: all 0.3s ease;
}

/* .menu-item.active {
  background-color: #f0f0f0;
} */

.menu-sub {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  /* opacity: 0; */
}

.menu-item.open .menu-sub {
  max-height: 300px;
  opacity: 1;
}

.menu-arrow {
  margin-left: auto;
  font-size: 0.8em;
  transition: transform 0.3s ease;
}

.menu-item.open .menu-arrow {
  transform: rotate(90deg);
}

.breadcrumbs-area {
  padding: 34px 0 35px;
  position: relative;
  z-index: 1;
}

.breadcrumbs-area ul li {
  display: inline-block;
  color: hsl(var(--main));
  font-size: 16px;
  position: relative;
  padding-right: 10px;
}

.breadcrumbs-area ul li:before {
  font-family: Flaticon;
  position: absolute;
  font-size: 10px;
  font-weight: 600;
  right: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
  color: #7367f0;
}

.breadcrumbs-area ul li a {
  color: #646464;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.breadcrumbs-area ul li a:hover {
  color: #7367f0;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  padding-left: 0px !important;
}

.btn-Header {
  text-align: end;
}

.btn-primary {
  color: #fff !important;
}

.row-header {
  display: flex !important;
  align-items: center;
}

.modal .modal-header {
  border-bottom: 1px solid #dfdfdf73;
}

.modal-title {
  margin-bottom: 15px !important;
}

.modal-footer {
  border-top: 1px solid #dfdfdf73 !important;
  padding: calc(1.5rem - 1rem * 0.5) !important;
}

.validate {
  color: red;
}

.edit {
  color: rgb(22, 22, 22);
  font-size: 15px;
  cursor: pointer;
}

.delete {
  margin-left: 5px;
  font-size: 15px;
  color: darkred;
  cursor: pointer;
}

.bTgDzm {
  display: flex;
  align-items: stretch;
  width: 100%;
  background-color: #0d6efd !important;
  min-height: 52px;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-bottom-style: solid;
  color: white;
  font-weight: 600 !important;
}

.sc-dVBluf.bTgDzm.rdt_TableHeadRow {
  display: flex;
  align-items: stretch;
  width: 100%;
  background-color: #0d6efd !important;
  min-height: 52px;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-bottom-style: solid;
  color: white;
  font-weight: 600 !important;
}

.css-1nmdiq5-menu {
  z-index: 9999 !important;
}

.sc-dVBluf.iIjLKU.rdt_TableHeadRow {
  display: flex;
  align-items: stretch;
  width: 100%;
  background-color: #0d6efd !important;
  min-height: 52px;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-bottom-style: solid;
  color: white;
  font-weight: 600 !important;
}

.row-header {
  align-items: flex-start;
}

.head {
  color: black;
  font-weight: 600;
}

.label {
  padding-left: 15px;
}

.menu-sub-icon {
  font-size: 0.75rem;
  font-weight: bold;
  margin-right: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.w-60 {
  width: 60% !important;
}

.image-container {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 15px;
  overflow: hidden;
}

.image-container img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
  border-radius: 15px;
}

.image-container:hover .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
}

.camera-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .camera-icon {
  opacity: 1;
}

.input-center {
  display: flex;
  align-items: center;
}

.input-set {
  width: 60% !important;
  margin-left: 3%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.react-timerange-picker__wrapper {
  border: 0px !important;
}

.rdt_TableHead {
  height: 30px !important;
}

.rdt_TableCol {
  height: 30px !important;
}

.table thead tr th {
  padding-block: 13px !important;
}

/* Custom Scrollbar */
.table-responsive::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* For horizontal scrollbar */
}

.table-responsive::-webkit-scrollbar-track {
  background: #f0f0f0; /* Light gray track */
  border-radius: 10px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background: #c0c0c0; /* Slightly darker gray for contrast */
  border-radius: 10px;
}

.table-responsive::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8; /* Darker gray on hover */
}

/* For Firefox */
.table-responsive {
  scrollbar-width: thin;
  scrollbar-color: #c0c0c0 #f0f0f0;
}

input:disabled {
  background-color: #f0f0f0 !important; /* Light Grey Background */
  color: #808080 !important; /* Grey Text */
  border: 1px solid #d3d3d3; /* Light Grey Border */
  opacity: 1; /* Ensure it remains fully visible */
  cursor: not-allowed;
}

/* loader css */

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.spinner {
  width: 70px;
  height: 70px;
  position: relative;
  /* removing margin since we're using flexbox centering */
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: hsl(var(--main));
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.sc-fhHczv.kMgreK.rdt_TableHeadRow {
  background-color: hsl(var(--main)) !important;
  color: white !important;
}

.btn-view {
  background: #ebb11d !important;
  color: black !important;
  border: none !important;
  padding: 8px 20px !important;
}

.btn-viewed {
  background: hsl(var(--main)) !important;
  color: black !important;
  border: none !important;
  padding: 8px 20px !important;
}

.text-customColor {
  color: hsl(var(--main));
}

.text-customColor-2 {
  color: #ecb51e !important;
}

.btn-custom {
  background-color: #ecb51e !important;
}

.sc-fhHczv.fdUfPW.rdt_TableHeadRow {
  background-color: #ecb51e !important;
  color: black !important;
}

.custom-radio {
  accent-color: hsl(var(--main));
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.form-check-label {
  cursor: pointer;
}

.trash-btn {
  color: red;
}

.custom-head {
  background-color: hsl(var(--main)) !important;
}

.custom-head tr th {
  color: white !important;
  text-align: center;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.table th,
.table td {
  vertical-align: middle;
  white-space: nowrap;
}

/* Column widths */
.col-category {
  width: 140px;
}

.col-title {
  width: 120px;
}

.col-name {
  width: 150px;
}

.col-age {
  width: 80px;
}

.col-sale {
  width: 120px;
}

.col-admin {
  width: 120px;
}

.custom-btn {
  background-color: hsl(var(--main)) !important;
  color: white !important;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.custom-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.sc-fhHczv.lkqaeQ.rdt_TableHeadRow {
  background-color: hsl(var(--main)) !important;
  color: white !important;
}
